{
  "extends" : "../.eslintrc",
  "env"     : {
    "mocha" : true
  },
  "globals" : {
    "chai"   : false,
    "expect" : false,
    "sinon"  : false,
    "tk"     : false,
    "PORT"   : false,
    "URL"    : false
  }
}
